
.consultation{
    margin-top: 100px;
    padding: 30px;
    border: 1px solid rgb(161, 159, 159);
    position: relative;
}

.title{
    position: absolute;
    background-color: #fff;
    top: -35px;
    padding: 10px;
}
.location{
    margin-top: 50px;
    width: 100%;
    height: 500px;
    overflow: hidden;
}